// .from-left1{
//   transform: translateX(-50%);
// }

// .from-right1{
//     transform: translateX(50%);
//   }

//   .from-left1, .from-right1{
// transition: transform 400ms ease-in ;
//   }


//   .from-left1.appear, .from-right1.appear{
//     transition: translateX(0) ;
//       }



.from-left{
    transform: translateX(-50%);
    transition: transform 400ms ease-in;
}

.from-left.appear{
    transform: translateX(0);
}


.from-right{
    transform: translateX(50%);
    transition: transform 400ms ease-in;
}

.from-right.appear{
    transform: translateX(0);
}




// image flip css
.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	// max-width: 1100px;
    height: 100%;
	justify-content: center;
	margin: 10px auto;

	.item.flip-card {
		background-color: transparent;
		// width: 228px;
		// height: 228px;
        width: 100%;
        height: 100%;
		perspective: 1000px;
		margin: 0 6px 12px 6px;
		filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));

		&:hover .flip-card-inner {
			transform: rotateY(180deg);
		}

		.flip-card-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
		}

		.flip-img,
		.flip-text {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		.flip-img {
			background-color: #fff;
			border: 1px solid black;
			color: black;
			display: flex;
			align-items: center;
			justify-content: center;
			
			padding: 2px;

			.img-flex {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
			}
		}

		.flip-text {
			background-color: black;
			color: white;
			transform: rotateY(180deg);
			font-family: 'Caramel', cursive;
			font-size: 32px;
			align-items: flex-end;
    		justify-content: flex-end;
			
			padding: 10px 25px;
			z-index: 10;
		}
	}
}
